body {
    background-color: #6a7ad4e8;
    background: linear-gradient(to left, #cdd1df, #354fb7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.change-password-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.change-password-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.change-password-container label {
    font-size: 14px;
    color: #777;
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.change-password-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 15px;
}

.change-password-container button {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.change-password-container button:hover {
    background-color: #0056b3;
}

.message {
    font-size: 14px;
    padding: 10px;
    background-color: #f0f4c3;
    color: #4caf50;
    border: 1px solid #cddc39;
    border-radius: 5px;
    margin-bottom: 15px;
}